<!-- This file will extend the parent template file layout.html file to render the common code using Template Inheritance. -->

<!-- To extend the parent template -->
{% extends "layout.html" %}

<!-- This unique code get passed to the layout html file where block will handle rendering. -->
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}