<!-- This file will extend the parent template file layout.html file to render the common code using Template Inheritance. -->

<!-- To extend the parent template -->
{% extends "layout.html" %}

<!-- This unique code get passed to the layout html file where block will handle rendering. -->
{% block content %}
    {% for post in posts %}
        <h1> {{ post.title }}</h1>
        <p> By {{ post.author }} on {{ post.date_posted }}</p>
        <p> {{ post.content }}</p>
    {% endfor %}
{% endblock content %}